@font-face {
  font-family: "Frankfurt";
  src: url('../assets/fonts/frankfurt.ttf') format('truetype');
}
:root {
    --md-primary-fg-color:        #1cacd1;
    --md-primary-fg-color--light: #1a82b9;
    --md-primary-fg-color--dark:  #e17990;
    --md-footer-bg-color:var(--md-primary-fg-color);
    --md-mermaid-node-fg-color:var(--md-primary-fg-color);
    --md-accent-fg-color:var(--md-primary-fg-color);
    --md-mermaid-label-bg-color:var(--md-primary-fg-color--light);
  }

.horizontal-container{
  display: inline-block;
  width: 100%;
}

.md-logo img{
  height: 2.1rem !important;
  transform: translate(57px,-8px) scale(1.2);
}
.md-header__topic:first-child, .md-header__topic{
  font-family: 'Frankfurt';
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2em;
}
.seahorse-text-blue{
  transform: translateX(-60px);
  display: flex;
  font-family: 'Frankfurt';
  text-transform: uppercase;
  font-weight: 200;
  color:#1cacd1;
  
}
.seahorse-text-blue::before{
  display: inline-block;
  content: "";
  background-image: url(../assets/seahorse.png);
  width: 123px;
  height: 123px;
  background-size: 100%;
  transform: translateX(60px);
  background-repeat: no-repeat;
}
@media screen  and (max-width: 1220px) {

.seahorse-text-blue::before{
  display: none;
}

.seahorse-text-blue{
  transform: translateX(0px);
}

}

.large-text{
  font-size:6em;
}

.supporter-showcase{
  height: 100px;
}
.supporter-showcase .supporter-img{
  width:50%;
  display: block;
}
